# Environment Variables for Daily Viva Tracker

# Frontend (Client) Variables
VITE_BASE_URL=https://daily-viva-tracker-3p9w.vercel.app

# Backend (Server) Variables  
MONGODB_URL=mongodb+srv://rahmanam90:9946337540@cluster0.8sxy4wx.mongodb.net/my_dvt_db
JWT_SECRET=b2e3c059f1cc407f24c4fdfc926d3b33b426888d1b6c55e506cc277098ae5e79
NODE_ENV=production

# Frontend URL for CORS
VITE_FRONT_URL=https://daily-viva-tracker.vercel.app